aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiohttp-retry==2.8.3
aiosignal==1.2.0
attrs==24.3.0
beautifulsoup4==4.12.3
brotli-python==1.0.9
bzip2==1.0.8
ca-certificates==2025.1.31
certifi==2024.12.14
charset-normalizer==3.4.1
colorama==0.4.6
expat==2.6.4
frozenlist==1.5.0
h11==0.14.0
idna==3.7
libcxx==14.0.6
libffi==3.4.4
multidict==6.1.0
ncurses==6.4
openssl==3.4.0
outcome==1.1.0
packaging==24.2
pip==25.0
propcache==0.2.0
pyjwt==2.10.1
pysocks==1.7.1
python==3.12.8
python-dotenv==1.0.1
pytz==2024.1
readline==8.2
requests==2.32.3
selenium==4.28.1
selenium-manager==4.28.0
setuptools==75.8.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlite==3.45.3
tk==8.6.14
tqdm==4.67.1
trio==0.26.2
trio-websocket==0.11.1
twilio==9.4.4
typing_extensions==4.12.2
tzdata==2025a
urllib3==2.3.0
webdriver-manager==4.0.2
websocket-client==1.8.0
wheel==0.45.1
wsproto==1.2.0
xz==5.4.6
yarl==1.18.0
zlib==1.2.13
